{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>ABOUT WELCOME</h1>
            <p>This is some text in this About page</p>
        </div>
    </div>
</div>
{{end}}